services:
  frontend:
    build: ./frontend
    image: ymmovest-frontend
    container_name: frontend_service
    restart: "no"
    profiles:
      - build
    networks:
      - app_network

  nginx:
    build: ./nginx
    container_name: nginx_proxy
    ports:
      - "8080:80"
    # ne pas dépendre du service frontend pour éviter de le démarrer
    depends_on:
      - backend
      - db
    restart: unless-stopped
    networks:
      - app_network
  backend:
    build: ./backend
    environment:
      - DATABASE_URL=postgres://root:1234@db:5432/database
      - REDIS_URL=redis://cache:6379
      - NODE_ENV=production
    ports:
      - "5000:5000"
    depends_on:
      db:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - app_network

  db:
    container_name: postgres_db
    image: postgres:15
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: 1234
      POSTGRES_DB: database
    ports:
      - "5432:5432"
    volumes:
      - ./init.sql:/docker-entrypoint-initdb.d/init.sql
    restart: unless-stopped
    healthcheck:
      test: [ "CMD-SHELL", "PGPASSWORD=1234 pg_isready -U root -d database" ]
      interval: 10s
      timeout: 7s
      retries: 5
    networks:
      - app_network

networks:
  app_network:
    driver: bridge

volumes:
  db_data:
